.listProducts__container {
 display: flex;
 justify-items: center;
 justify-content: center;
 gap: 26px !important;
 font-family: "Roboto" , sans-serif;
 width: 100% !important;
 padding-bottom: 29px;
 height: 100vh !important;
 margin-top: 4.4em;
}

.listProducts-card {
    word-break: break-word;
    background-color: #ebebeb;
    width: 91% !important;
    /* height: 100%; */
    display: grid;
    grid-template-columns: 10% 60% 28%;
    grid-gap: 1%;
    gap: 1%;
    font-size: 100%;
    padding: 2%;
    box-shadow: 7px 6px 6px #00000040;
    transition: .6s;
    /* height: 82%; */
    align-items: center;
    border-radius: 0px;
    height: 77% !important;
    justify-self: center;
    margin-left: 2%;
}

.listProducts-card:hover {
    border-radius: 4px;
    box-shadow: 6px 6px 0px rgb(216, 215, 215);
    /* border: #77dd3b 3px solid; */
}

.listProducts__wait {
    justify-items: center;
    display: grid;
    padding-top: 24%;
    color: black
}

.wait__img {
    width: 20%;
}

.listProducts-card__img {
    max-width: 60% !important;
    margin: 2%;
    border-radius: 5px;
    justify-self: center;
}
.card-panel {
    display: grid;
    align-items: initial;
    height: 100%;
    gap: 1%;
}

.card-panel__buttonDown , .card-panel__buttonUp {
    height: 96%;
    font-size: 208%;
    outline: none;
    transition: .4s;
}

.card-panel__buttonDown:active , .card-panel__buttonUp:active {
    height: 100%;
    user-select:none;
}

.card-panel__buttonUp{
    background-color: rgb(115, 230, 62);
    border-radius: 2px;
    border: 0px;
    color: rgb(7, 112, 39);
}

.card-panel__buttonDown{
    background-color: rgb(230, 62, 62);
    color: rgb(131, 35, 35);
    border-radius: 2px;
    border: 0px
}



.listProducts-card__name {
    font-size: 84%;
    align-self: flex-start;
    color: grey;
}

.listProducts-card__price {
    font-size: 139%;
    align-self: flex-start;
    color: #62b508;
    /* margin-bottom: 57%; */
    margin: 0 0 34% 0;
    text-align: end;
}

.listProducts-card__priceWithAmount , .listProducts-card__amount {
    font-size: 96%;;
    text-align: right;
    color: rgb(173, 173, 173);
}

.card-div-up {
    animation:  changePriceUp 1s forwards;
}

.card-div-down {
    animation:  changePriceDown 1s forwards;
}

@keyframes changePriceUp {
    0% {
        background: black;
        color: white;
    } 
    100% {
        background: none;
        color: black;
    }
    
}

@keyframes changePriceDown {
    0% {
        background: black;
        color: white;
    } 
    100% {
        background: none;
        color: black;
    }
}
.card-panel__text-container {
    position: absolute;
    width: 100%;
    height: 16%;
    background: #ff00009c;
}

.card-panel__text{
        /* position: relative; */
        width: 100%;
        height: 100%;
        /* top: 30%; */
        /* left: 300%; */
        text-align: center;
        margin-top: 10%;
        color: #ff00008c;
}

.listProducts-card__amount {
    margin-top: 2%;
    margin-bottom: 0;
    align-self: baseline;
}
.card-img {
    display: grid;
    /* grid-template-columns: 65% 34%; */
    height: 100%;
    align-self: baseline;
    justify-self: center;
    text-align: center;
}

.ListItemEven {
    padding-top: 3%;
}

.ListItemOdd {
    padding-top: 3%;
}

.card-img h1 {
    margin: 0;
}

.listProducts-card__price-container {
    height: 100%;
}

.listProducts__404 {
    margin-top: 37%;
    text-align: center;
    color: #989898;
}