.menuContainer {
    width: 100%;
    color: white;
    display: grid;
    justify-content: center;
    position: fixed;
    height: 88vh;
    z-index: 4;
    grid-gap: 1em;
    top: 9vh;
    text-align: center;
    padding-top: 2em;
}

.menuContainer__exitButton {
    font-size: 1.5em;
    align-self: center;
    margin-top: 0.6em;
    color: rgba(255, 255, 255, 0.26);
}