.sendList__container { 
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.alert-container {
    position: fixed;
    display: grid;
    background-color: rgba(0, 0, 0, 0.959);
    width: 100%;
    right: 0;
    left: 0;
    height: 100%;
    top: 0;
    overflow-y: scroll;
    color: white;
    align-items: center;
    justify-items: center;
}

.SdownPanel {
    position: fixed;
    right: 111%;
    background-color: rgba(0, 0, 0, 0.959);
    width: 100%;
    height: 91%;
    top: 4.5em;
    overflow-y:scroll;
}

.SupPanel {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.959);
    width: 100%;
    right: 0;
    left: 0;
    height: 91%;
    top: 4.5em;
    overflow-y: scroll;
}

@keyframes SdownAnimation {
    100% {
        right: 111%;
    } 
    0% {
        right: 0;
        left: 0;
    }
}

.sendList-button {
    background-color: black;
    border: none;
    border-top: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.164);
    border-radius: none;
    width: 100%;
    color: white;
    height: 20%;
    height: 2.3em;
}

.sendList-button a {
    color:  white;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 100%;
}

@keyframes SupAnimation {
    0% {
        right: 111%;
    } 
    100% {
        
    }
}

.sendList {
    height: 80%;
    display: grid;
    gap: 2em;
    margin: 4% 5%;
    justify-items: center;
}

.sendList div input {
    border: none;
    background: #333333;
    color: white;
    height: 60%;
    font-size: 106%;
    text-align: 2%;
    width: 100%;
    transition: .4s;
    outline: none;
}

.sendList div input:hover {
    background-color: white;
    color: black;
}

.sendList div {
    width: 100%;
}

.sendList h4 {
    margin: 2% 0;
}

.sendList__button {
    color: rgb(160, 47, 47);
    background-color: rgb(70, 20, 20);
    border-radius: 2px;
    border: 0px;
    width: 10%;
    margin: 0%;
    justify-self: baseline;
    font-size: 206%;
    bottom: 57%;
    height: 1.3em;
}

.sendList__sendButton {
    background-color: rgb(77, 235, 85);
    color: rgb(47, 102, 46);
    border-radius: 2px;
    border: 0px;
    width: 100%;
    margin: 0%;
    justify-self: baseline;
    font-size: 120%;
    bottom: 57%;
}