.listText__container {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.downPanel {
    display: none;
}

.upPanel {
    position: fixed;
    background-color: black;
    width: 100%;
    right: 0;
    left: 0;
    height: 91%;
    top: 4.5em;
    overflow-y: scroll;
}


@keyframes downAnimation {
    100% {
        right: 111%;
    } 
    0% {
        right: 0;
        left: 0;
    }
}

.listText-target {
    display: grid;
    grid-template-columns: 85% 9%;
    grid-gap: 2px;
    margin: 4% 0 9% 0;
    font-size: 61%;
    padding-left: 4%;
    text-align: start;
}

.listText-target div img {
    width: 25%;
    border-radius: 5px;
}

.listText-target h1 {
    margin: 0;
    margin-bottom: 2%;
}

.target-panel {
    display: grid;
    justify-items: center;
    gap: 4%;
}

.target-panel__buttonDown , .target-panel__buttonUp {
    height: 93%;
    font-size: 208%;
    outline: none;
    width: 100%;
    transition: .4s;
    margin: 6%;
}

.target-panel__buttonDown:active , .target-panel__buttonUp:active {
    height: 100%;
    user-select:none;
}

.target-panel__buttonUp{
    background-color: rgb(115, 230, 62);
    border-radius: 2px;
    border: 0px;
    color: rgb(7, 112, 39);
}

.target-panel__buttonDown{
    background-color: rgb(230, 62, 62);
    color: rgb(131, 35, 35);
    border-radius: 2px;
    border: 0px
}

.target-panel__buttonDelete {
    color: rgb(230, 62, 62);
    background-color: rgb(131, 35, 35);
    border-radius: 2px;
    border: 0px;
    width: 100%;
    justify-self: center;
    font-size: 206%;
    position: relative;
    bottom: 57%;
}

.listText__button {
    color: rgb(160, 47, 47);
    background-color: rgb(70, 20, 20);
    border-radius: 2px;
    border: 0px;
    width: 10%;
    margin: 5%;
    justify-self: center;
    font-size: 206%;
    bottom: 57%;
}

.listText-button {
    background-color: black;
    border: none;
    border-top: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.164);
    border-radius: none;
    width: 100%;
    color: white;
    height: 20%;
    height: 2.3em;
}

.listText-button a {
    color:  white;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 100%;
    width: 100%;
}

@keyframes upAnimation {
    0% {
        right: 111%;
    } 
    100% {
        right: 0;
        left: 0;
    }
}
